In [2]:
import pandas as pd
import numpy as np

In [32]:
test_data = dict( 
    A = np.random.rand(3),
    B = 1,
    C = 'foo',
    D = pd.Timestamp('20010102'),
    E = pd.Series([1.0]*3).astype('float32'),
    F = False,
    G = pd.Series([1]*3,dtype='int8')
)

print test_data

{'A': array([ 0.93617129,  0.52548605,  0.95908172]), 'C': 'foo', 'B': 1, 'E': 0    1.0
1    1.0
2    1.0
dtype: float32, 'D': Timestamp('2001-01-02 00:00:00'), 'G': 0    1
1    1
2    1
dtype: int8, 'F': False}

In [33]:
dft = pd.DataFrame(test_data)
dft

          A  B    C          D    E      F  G
0  0.936171  1  foo 2001-01-02  1.0  False  1
1  0.525486  1  foo 2001-01-02  1.0  False  1
2  0.959082  1  foo 2001-01-02  1.0  False  1

In [34]:
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [35]:
pd.Series([1,2,3,4,5,6.])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [36]:
dft.apply(min)

A               0.525486
B                      1
C                    foo
D    2001-01-02 00:00:00
E                      1
F                  False
G                      1
dtype: object