In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('/Users/TuckerCS/Dropbox/DSI-Projects/week02/star_wars.csv')
df.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?��,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

Let's use the Star Wars dataset again. Load it in and pull up the head. 

```../../../1.2-study-design/assets/datasets/StarWars.csv```

#### Create a hypothesis involving different subsections of the data. 

For example:
- Are respondents more likely to respond "Han" to the question "Who shot first?" if they also say they are fans of Star Trek?

Type your hypothesis in a markdown cell below:

Are people more likely to believe Han shot first if they have advanced past a High School degree of education?

Use boolean indexing to create subsets of the data to support your hypothesis. See if you can answer questions using mutiple variables.

In [83]:
shooter = df['Which character shot first?']
education = df['Education']

s = pd.Series(shooter)
e = pd.Series(education)

df_han = s.to_frame('Shooter')
df_han['Education'] = e

han_abovehs = df_han[(df_han['Shooter'] =='Han') & ((df_han['Education'] != 'High school degree'))]
greedo_abovehs = df_han[(df_han['Shooter'] == 'Greedo') & ((df_han['Education'] != 'High school degree'))]

han_hs = df_han[(df_han['Shooter'] =='Han') & ((df_han['Education'] == 'High school degree'))]
greedo_hs = df_han[(df_han['Shooter'] == 'Greedo') & ((df_han['Education'] == 'High school degree'))]

In [84]:
han_abovehs = han_abovehs.dropna()
greedo_abovehs = greedo_abovehs.dropna()

han_hs = han_hs.dropna()
greedo_hs = greedo_hs.dropna()

In [93]:
print han_abovehs.count()
print greedo_abovehs.count()

Shooter      290
Education    290
dtype: int64
Shooter      177
Education    177
dtype: int64

0.0

In [86]:
print han_hs.count()
print greedo_hs.count()

Shooter      30
Education    30
dtype: int64
Shooter      15
Education    15
dtype: int64

In [91]:
print '%r percent of people above a high school education believe that Han shot first' % (290/(290+177))

0 percent of people above a high school education believe that Han shot first

**Bonus** : Use matplotlib or seaborn to present your findings.

**Bonus 2** : Create another, more complex hypothesis, support it, and plot it below.